.h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    text-transform: uppercase;
    background: var(--Titles, linear-gradient(94deg, #FB37FF 0%, #00EFD1 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.wrapper {
    border-radius: 14px;
    background: rgba(217, 217, 217, 0.15);
    backdrop-filter: blur(5px);
    padding: 24px;
    max-width: 620px;
    margin: 50px auto;
    color: #fff;
}