.nav {
    margin-top: 40px;
    width: 100%;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 12px;
    gap: 20px;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.21);
    background: var(--BG-2, linear-gradient(358deg, #151430 1.41%, #383753 97.58%));
}
.link {
    color: #00EFD1;
    padding-right: 20px;
    border-right: 1px solid #00efcf8c;
}
